body {
  font-family: "Optima";
  margin: 3rem;
  margin-top: 1rem;
  background-image: url("images/9f52kt-Nutrition\ Home\ page\ banner--homepagebanner.jpeg");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}

#img-margin {
  margin-top: 15rem;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  color: black;
}

form div {
  margin: 1em;
  display: inline-block;
}

.recipes-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2rem;
}

.recipes-list > * {
  margin: 1rem;
  padding: 0.5rem;
  width: 250px;
}

.recipe {
  display: flex;
  flex-direction: column;
  color: black;
  box-shadow: 0px 1px 1px 0;
}

.recipe p {
  text-align: center;
}

h2 {
  text-align: center;
}

#recipe-page {
  display: flex;
  margin-top: 3rem;
}

image {
  flex: 1;
}

#header {
  display: flex;
  justify-content: space-around;
  flex: 3;
  font-weight: bold;
  color: rgb(5, 182, 26);
  font-size: large;
}

#details {
  margin-left: 2rem;
}

h1 a {
  color: white;
}

h1 {
  flex: 2;
  text-align: end;
  font-size: 50px;
  margin-top: 0.5rem;
}

/* #edamam-badge {
  flex: 2;
  text-align: end;
} */

.navbar {
  display: flex;
}

.navbar nav {
  flex: 3;
  display: flex;
  justify-content: end;
}

.meal-plans {
  display: flex;
  justify-content: space-around;
}

.meal-plans > * {
  margin: 1rem;
  width: calc(100% / 3 - 2rem);
}

.meal-plan-recipes {
  display: flex;
}

li {
  list-style-type: none;
}

.single-recipe {
  display: flex;
  margin: 0;
  border-bottom: 1px solid black;
}

.single-recipe img {
  margin: 1rem;
  height: 10rem;
  border-radius: 50%;
}

.header {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  font-weight: bold;
}

.days {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.days li {
  height: 16rem;
  font-weight: bold;
  width: max-content;
}

#recipe {
  width: 25rem;
}
