body {
  font-family: sans-serif;
  margin: 3rem;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#home-nav {
  display: flex;
  justify-content: space-around;
}

.recipes-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2rem;
}

.recipes-list > * {
  margin: 1rem;
  padding: 0.5rem;
  width: 250px;
}

.recipe {
  display: flex;
  flex-direction: column;
  color: black;
  box-shadow: 0px 1px 1px 0;
}

.recipe p {
  text-align: center;
}

h2 {
  text-align: center;
}

#recipe-page {
  display: flex;
  margin-top: 3rem;
}

image {
  flex: 1;
}

#header {
  display: flex;
  justify-content: space-around;
  flex: 3;
  font-weight: bold;
  color: rgb(46, 39, 191);
  font-size: large;
}

#details {
  margin-left: 2rem;
}

h1 a {
  color: black;
}
